In [1]:
import pandas as pd
import numpy as np
#!pip install lxml

# Target portfolio percentages

In [2]:
tgtPercentage = pd.read_csv('moex.csv',\
                 dtype={'ticker': np.str_, 'percent': np.float64},\
                 index_col='ticker'
                    )
tgtPercentage.head()

        percent
ticker
LKOH      14.85
SBER      13.22
GAZP      10.32
TATN       6.65
GMKN       4.52

# Stocks in current portfolio

In [3]:
currentQty = pd.read_csv('current.csv',\
                 dtype={'ticker': np.str_, 'qty': np.int_},\
                  index_col='ticker'
                    )
currentQty.head()

        qty
ticker
LKOH      7
NVTK     11
GMKN    110
SBER    130
TATN     31

# Create Portfolio with target and current state and rebalance it

In [4]:
import Portfolio as pf
p = pf.Portfolio()
p.setTarget(tgtPercentage)
p.setCurrent(currentQty,600000)
r = p.getRebalanceChanges()
r

        chgQty  chgValue
ticker
GAZP    540.00 69,195.60
LKOH     10.00 64,105.00
SBER    220.00 61,839.80
TATN     49.00 30,076.20
TCSG      8.00 20,568.00
GMKN    160.00 19,660.80
NVTK     15.00 15,270.00

In [5]:
r['chgValue'].sum()

280715.39999999997

In [6]:
p.rebalance()
c = p.getCurrent()
c['value'].sum()
p.getCashValue()

319284.60000000003

In [10]:
p.rebalance()
c = p.getCurrent()
c['value'].sum()
p.getCashValue()

319284.60000000003